{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://bigtableadmin.googleapis.com/"
        }
    ],
    "info": {
        "contact": {
            "name": "Google",
            "url": "https://google.com"
        },
        "title": "Cloud Bigtable Admin",
        "version": "v1",
        "x-apiClientRegistration": {
            "url": "https://console.developers.google.com"
        },
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png"
        },
        "x-origin": [
            {
                "converter": {
                    "url": "https://github.com/lucybot/api-spec-converter",
                    "version": "2.7.31"
                },
                "format": "google",
                "url": "https://bigtableadmin.googleapis.com/$discovery/rest?version=v1",
                "version": "v1"
            }
        ],
        "x-preferred": true,
        "x-providerName": "googleapis.com",
        "x-serviceName": "bigtableadmin"
    },
    "externalDocs": {
        "url": "https://cloud.google.com/bigtable/"
    },
    "tags": [
        {
            "name": "projects"
        }
    ],
    "paths": {
        "/v1/{name}": {
            "get": {
                "description": "Gets information about a location.",
                "operationId": "bigtableadmin.projects.locations.get",
                "parameters": [
                    {
                        "description": "Resource name for the location.",
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "x-reservedExpansion": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "A resource that represents Google Cloud Platform location.",
                                    "properties": {
                                        "displayName": {
                                            "description": "The friendly name for this location, typically a nearby city name.\nFor example, \"Tokyo\".",
                                            "type": "string"
                                        },
                                        "labels": {
                                            "additionalProperties": {
                                                "type": "string"
                                            },
                                            "description": "Cross-service attributes for the location. For example\n\n    {\"cloud.googleapis.com/region\": \"us-east1\"}",
                                            "type": "object"
                                        },
                                        "locationId": {
                                            "description": "The canonical id for this location. For example: `\"us-east1\"`.",
                                            "type": "string"
                                        },
                                        "metadata": {
                                            "additionalProperties": {
                                                "description": "Properties of the object. Contains field @type with type URL."
                                            },
                                            "description": "Service-specific metadata. For example the available capacity at the given\nlocation.",
                                            "type": "object"
                                        },
                                        "name": {
                                            "description": "Resource name for the location, which may vary between implementations.\nFor example: `\"projects/example-project/locations/us-east1\"`",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "projects"
                ]
            },
            "parameters": [
                {
                    "description": "V1 error format.",
                    "in": "query",
                    "name": "$.xgafv",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "1",
                            "2"
                        ]
                    }
                },
                {
                    "description": "OAuth access token.",
                    "in": "query",
                    "name": "access_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Data format for response.",
                    "in": "query",
                    "name": "alt",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "json",
                            "media",
                            "proto"
                        ],
                        "default": "json"
                    }
                },
                {
                    "description": "JSONP",
                    "in": "query",
                    "name": "callback",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Selector specifying which fields to include in a partial response.",
                    "in": "query",
                    "name": "fields",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
                    "in": "query",
                    "name": "key",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "OAuth 2.0 token for the current user.",
                    "in": "query",
                    "name": "oauth_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Returns response with indentations and line breaks.",
                    "in": "query",
                    "name": "prettyPrint",
                    "schema": {
                        "type": "boolean",
                        "default": true
                    }
                },
                {
                    "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
                    "in": "query",
                    "name": "quotaUser",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
                    "in": "query",
                    "name": "uploadType",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
                    "in": "query",
                    "name": "upload_protocol",
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/v1/{name}/locations": {
            "get": {
                "description": "Lists information about the supported locations for this service.",
                "operationId": "bigtableadmin.projects.locations.list",
                "parameters": [
                    {
                        "description": "The standard list filter.",
                        "in": "query",
                        "name": "filter",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The resource that owns the locations collection, if applicable.",
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "x-reservedExpansion": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The standard list page size.",
                        "in": "query",
                        "name": "pageSize",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "The standard list page token.",
                        "in": "query",
                        "name": "pageToken",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "The response message for Locations.ListLocations.",
                                    "properties": {
                                        "locations": {
                                            "description": "A list of locations that matches the specified filter in the request.",
                                            "items": {
                                                "description": "A resource that represents Google Cloud Platform location.",
                                                "properties": {
                                                    "displayName": {
                                                        "description": "The friendly name for this location, typically a nearby city name.\nFor example, \"Tokyo\".",
                                                        "type": "string"
                                                    },
                                                    "labels": {
                                                        "additionalProperties": {
                                                            "type": "string"
                                                        },
                                                        "description": "Cross-service attributes for the location. For example\n\n    {\"cloud.googleapis.com/region\": \"us-east1\"}",
                                                        "type": "object"
                                                    },
                                                    "locationId": {
                                                        "description": "The canonical id for this location. For example: `\"us-east1\"`.",
                                                        "type": "string"
                                                    },
                                                    "metadata": {
                                                        "additionalProperties": {
                                                            "description": "Properties of the object. Contains field @type with type URL."
                                                        },
                                                        "description": "Service-specific metadata. For example the available capacity at the given\nlocation.",
                                                        "type": "object"
                                                    },
                                                    "name": {
                                                        "description": "Resource name for the location, which may vary between implementations.\nFor example: `\"projects/example-project/locations/us-east1\"`",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "nextPageToken": {
                                            "description": "The standard List next-page token.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "projects"
                ]
            },
            "parameters": [
                {
                    "description": "V1 error format.",
                    "in": "query",
                    "name": "$.xgafv",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "1",
                            "2"
                        ]
                    }
                },
                {
                    "description": "OAuth access token.",
                    "in": "query",
                    "name": "access_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Data format for response.",
                    "in": "query",
                    "name": "alt",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "json",
                            "media",
                            "proto"
                        ],
                        "default": "json"
                    }
                },
                {
                    "description": "JSONP",
                    "in": "query",
                    "name": "callback",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Selector specifying which fields to include in a partial response.",
                    "in": "query",
                    "name": "fields",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
                    "in": "query",
                    "name": "key",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "OAuth 2.0 token for the current user.",
                    "in": "query",
                    "name": "oauth_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Returns response with indentations and line breaks.",
                    "in": "query",
                    "name": "prettyPrint",
                    "schema": {
                        "type": "boolean",
                        "default": true
                    }
                },
                {
                    "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
                    "in": "query",
                    "name": "quotaUser",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
                    "in": "query",
                    "name": "uploadType",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
                    "in": "query",
                    "name": "upload_protocol",
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        }
    },
    "components": {
        "schemas": {
            "Cluster": {
                "description": "A resizable group of nodes in a particular cloud location, capable\nof serving all Tables in the parent\nInstance.",
                "properties": {
                    "defaultStorageType": {
                        "description": "(`CreationOnly`)\nThe type of storage used by this cluster to serve its\nparent instance's tables, unless explicitly overridden.",
                        "enum": [
                            "STORAGE_TYPE_UNSPECIFIED",
                            "SSD",
                            "HDD"
                        ],
                        "type": "string"
                    },
                    "location": {
                        "description": "(`CreationOnly`)\nThe location where this cluster's nodes and storage reside. For best\nperformance, clients should be located as close as possible to this\ncluster. Currently only zones are supported, so values should be of the\nform `projects/<project>/locations/<zone>`.",
                        "type": "string"
                    },
                    "name": {
                        "description": "(`OutputOnly`)\nThe unique name of the cluster. Values are of the form\n`projects/<project>/instances/<instance>/clusters/a-z*`.",
                        "type": "string"
                    },
                    "serveNodes": {
                        "description": "The number of nodes allocated to this cluster. More nodes enable higher\nthroughput and more consistent performance.",
                        "format": "int32",
                        "type": "integer"
                    },
                    "state": {
                        "description": "(`OutputOnly`)\nThe current state of the cluster.",
                        "enum": [
                            "STATE_NOT_KNOWN",
                            "READY",
                            "CREATING",
                            "RESIZING",
                            "DISABLED"
                        ],
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "CreateClusterMetadata": {
                "description": "The metadata for the Operation returned by CreateCluster.",
                "properties": {
                    "finishTime": {
                        "description": "The time at which the operation failed or was completed successfully.",
                        "format": "google-datetime",
                        "type": "string"
                    },
                    "originalRequest": {
                        "description": "The request that prompted the initiation of this CreateCluster operation.",
                        "properties": {
                            "cluster": {
                                "description": "The cluster to be created.\nFields marked `OutputOnly` must be left blank.",
                                "properties": {
                                    "defaultStorageType": {
                                        "description": "(`CreationOnly`)\nThe type of storage used by this cluster to serve its\nparent instance's tables, unless explicitly overridden.",
                                        "enum": [
                                            "STORAGE_TYPE_UNSPECIFIED",
                                            "SSD",
                                            "HDD"
                                        ],
                                        "type": "string"
                                    },
                                    "location": {
                                        "description": "(`CreationOnly`)\nThe location where this cluster's nodes and storage reside. For best\nperformance, clients should be located as close as possible to this\ncluster. Currently only zones are supported, so values should be of the\nform `projects/<project>/locations/<zone>`.",
                                        "type": "string"
                                    },
                                    "name": {
                                        "description": "(`OutputOnly`)\nThe unique name of the cluster. Values are of the form\n`projects/<project>/instances/<instance>/clusters/a-z*`.",
                                        "type": "string"
                                    },
                                    "serveNodes": {
                                        "description": "The number of nodes allocated to this cluster. More nodes enable higher\nthroughput and more consistent performance.",
                                        "format": "int32",
                                        "type": "integer"
                                    },
                                    "state": {
                                        "description": "(`OutputOnly`)\nThe current state of the cluster.",
                                        "enum": [
                                            "STATE_NOT_KNOWN",
                                            "READY",
                                            "CREATING",
                                            "RESIZING",
                                            "DISABLED"
                                        ],
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "clusterId": {
                                "description": "The ID to be used when referring to the new cluster within its instance,\ne.g., just `mycluster` rather than\n`projects/myproject/instances/myinstance/clusters/mycluster`.",
                                "type": "string"
                            },
                            "parent": {
                                "description": "The unique name of the instance in which to create the new cluster.\nValues are of the form\n`projects/<project>/instances/<instance>`.",
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "requestTime": {
                        "description": "The time at which the original request was received.",
                        "format": "google-datetime",
                        "type": "string"
                    },
                    "tables": {
                        "additionalProperties": {
                            "description": "Progress info for copying a table's data to the new cluster.",
                            "properties": {
                                "estimatedCopiedBytes": {
                                    "description": "Estimate of the number of bytes copied so far for this table.\nThis will eventually reach 'estimated_size_bytes' unless the table copy\nis CANCELLED.",
                                    "format": "int64",
                                    "type": "string"
                                },
                                "estimatedSizeBytes": {
                                    "description": "Estimate of the size of the table to be copied.",
                                    "format": "int64",
                                    "type": "string"
                                },
                                "state": {
                                    "enum": [
                                        "STATE_UNSPECIFIED",
                                        "PENDING",
                                        "COPYING",
                                        "COMPLETED",
                                        "CANCELLED"
                                    ],
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        },
                        "description": "Keys: the full `name` of each table that existed in the instance when\nCreateCluster was first called, i.e.\n`projects/<project>/instances/<instance>/tables/<table>`. Any table added\nto the instance by a later API call will be created in the new cluster by\nthat API call, not this one.\n\nValues: information on how much of a table's data has been copied to the\nnewly-created cluster so far.",
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "CreateClusterRequest": {
                "description": "Request message for BigtableInstanceAdmin.CreateCluster.",
                "properties": {
                    "cluster": {
                        "description": "The cluster to be created.\nFields marked `OutputOnly` must be left blank.",
                        "properties": {
                            "defaultStorageType": {
                                "description": "(`CreationOnly`)\nThe type of storage used by this cluster to serve its\nparent instance's tables, unless explicitly overridden.",
                                "enum": [
                                    "STORAGE_TYPE_UNSPECIFIED",
                                    "SSD",
                                    "HDD"
                                ],
                                "type": "string"
                            },
                            "location": {
                                "description": "(`CreationOnly`)\nThe location where this cluster's nodes and storage reside. For best\nperformance, clients should be located as close as possible to this\ncluster. Currently only zones are supported, so values should be of the\nform `projects/<project>/locations/<zone>`.",
                                "type": "string"
                            },
                            "name": {
                                "description": "(`OutputOnly`)\nThe unique name of the cluster. Values are of the form\n`projects/<project>/instances/<instance>/clusters/a-z*`.",
                                "type": "string"
                            },
                            "serveNodes": {
                                "description": "The number of nodes allocated to this cluster. More nodes enable higher\nthroughput and more consistent performance.",
                                "format": "int32",
                                "type": "integer"
                            },
                            "state": {
                                "description": "(`OutputOnly`)\nThe current state of the cluster.",
                                "enum": [
                                    "STATE_NOT_KNOWN",
                                    "READY",
                                    "CREATING",
                                    "RESIZING",
                                    "DISABLED"
                                ],
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "clusterId": {
                        "description": "The ID to be used when referring to the new cluster within its instance,\ne.g., just `mycluster` rather than\n`projects/myproject/instances/myinstance/clusters/mycluster`.",
                        "type": "string"
                    },
                    "parent": {
                        "description": "The unique name of the instance in which to create the new cluster.\nValues are of the form\n`projects/<project>/instances/<instance>`.",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "CreateInstanceMetadata": {
                "description": "The metadata for the Operation returned by CreateInstance.",
                "properties": {
                    "finishTime": {
                        "description": "The time at which the operation failed or was completed successfully.",
                        "format": "google-datetime",
                        "type": "string"
                    },
                    "originalRequest": {
                        "description": "The request that prompted the initiation of this CreateInstance operation.",
                        "properties": {
                            "clusters": {
                                "additionalProperties": {
                                    "description": "A resizable group of nodes in a particular cloud location, capable\nof serving all Tables in the parent\nInstance.",
                                    "properties": {
                                        "defaultStorageType": {
                                            "description": "(`CreationOnly`)\nThe type of storage used by this cluster to serve its\nparent instance's tables, unless explicitly overridden.",
                                            "enum": [
                                                "STORAGE_TYPE_UNSPECIFIED",
                                                "SSD",
                                                "HDD"
                                            ],
                                            "type": "string"
                                        },
                                        "location": {
                                            "description": "(`CreationOnly`)\nThe location where this cluster's nodes and storage reside. For best\nperformance, clients should be located as close as possible to this\ncluster. Currently only zones are supported, so values should be of the\nform `projects/<project>/locations/<zone>`.",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "(`OutputOnly`)\nThe unique name of the cluster. Values are of the form\n`projects/<project>/instances/<instance>/clusters/a-z*`.",
                                            "type": "string"
                                        },
                                        "serveNodes": {
                                            "description": "The number of nodes allocated to this cluster. More nodes enable higher\nthroughput and more consistent performance.",
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "state": {
                                            "description": "(`OutputOnly`)\nThe current state of the cluster.",
                                            "enum": [
                                                "STATE_NOT_KNOWN",
                                                "READY",
                                                "CREATING",
                                                "RESIZING",
                                                "DISABLED"
                                            ],
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "description": "The clusters to be created within the instance, mapped by desired\ncluster ID, e.g., just `mycluster` rather than\n`projects/myproject/instances/myinstance/clusters/mycluster`.\nFields marked `OutputOnly` must be left blank.\nCurrently, at most two clusters can be specified.",
                                "type": "object"
                            },
                            "instance": {
                                "description": "The instance to create.\nFields marked `OutputOnly` must be left blank.",
                                "properties": {
                                    "displayName": {
                                        "description": "The descriptive name for this instance as it appears in UIs.\nCan be changed at any time, but should be kept globally unique\nto avoid confusion.",
                                        "type": "string"
                                    },
                                    "labels": {
                                        "additionalProperties": {
                                            "type": "string"
                                        },
                                        "description": "Labels are a flexible and lightweight mechanism for organizing cloud\nresources into groups that reflect a customer's organizational needs and\ndeployment strategies. They can be used to filter resources and aggregate\nmetrics.\n\n* Label keys must be between 1 and 63 characters long and must conform to\n  the regular expression: `\\p{Ll}\\p{Lo}{0,62}`.\n* Label values must be between 0 and 63 characters long and must conform to\n  the regular expression: `[\\p{Ll}\\p{Lo}\\p{N}_-]{0,63}`.\n* No more than 64 labels can be associated with a given resource.\n* Keys and values must both be under 128 bytes.",
                                        "type": "object"
                                    },
                                    "name": {
                                        "description": "(`OutputOnly`)\nThe unique name of the instance. Values are of the form\n`projects/<project>/instances/a-z+[a-z0-9]`.",
                                        "type": "string"
                                    },
                                    "state": {
                                        "description": "(`OutputOnly`)\nThe current state of the instance.",
                                        "enum": [
                                            "STATE_NOT_KNOWN",
                                            "READY",
                                            "CREATING"
                                        ],
                                        "type": "string"
                                    },
                                    "type": {
                                        "description": "The type of the instance. Defaults to `PRODUCTION`.",
                                        "enum": [
                                            "TYPE_UNSPECIFIED",
                                            "PRODUCTION",
                                            "DEVELOPMENT"
                                        ],
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "instanceId": {
                                "description": "The ID to be used when referring to the new instance within its project,\ne.g., just `myinstance` rather than\n`projects/myproject/instances/myinstance`.",
                                "type": "string"
                            },
                            "parent": {
                                "description": "The unique name of the project in which to create the new instance.\nValues are of the form `projects/<project>`.",
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "requestTime": {
                        "description": "The time at which the original request was received.",
                        "format": "google-datetime",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "CreateInstanceRequest": {
                "description": "Request message for BigtableInstanceAdmin.CreateInstance.",
                "properties": {
                    "clusters": {
                        "additionalProperties": {
                            "description": "A resizable group of nodes in a particular cloud location, capable\nof serving all Tables in the parent\nInstance.",
                            "properties": {
                                "defaultStorageType": {
                                    "description": "(`CreationOnly`)\nThe type of storage used by this cluster to serve its\nparent instance's tables, unless explicitly overridden.",
                                    "enum": [
                                        "STORAGE_TYPE_UNSPECIFIED",
                                        "SSD",
                                        "HDD"
                                    ],
                                    "type": "string"
                                },
                                "location": {
                                    "description": "(`CreationOnly`)\nThe location where this cluster's nodes and storage reside. For best\nperformance, clients should be located as close as possible to this\ncluster. Currently only zones are supported, so values should be of the\nform `projects/<project>/locations/<zone>`.",
                                    "type": "string"
                                },
                                "name": {
                                    "description": "(`OutputOnly`)\nThe unique name of the cluster. Values are of the form\n`projects/<project>/instances/<instance>/clusters/a-z*`.",
                                    "type": "string"
                                },
                                "serveNodes": {
                                    "description": "The number of nodes allocated to this cluster. More nodes enable higher\nthroughput and more consistent performance.",
                                    "format": "int32",
                                    "type": "integer"
                                },
                                "state": {
                                    "description": "(`OutputOnly`)\nThe current state of the cluster.",
                                    "enum": [
                                        "STATE_NOT_KNOWN",
                                        "READY",
                                        "CREATING",
                                        "RESIZING",
                                        "DISABLED"
                                    ],
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        },
                        "description": "The clusters to be created within the instance, mapped by desired\ncluster ID, e.g., just `mycluster` rather than\n`projects/myproject/instances/myinstance/clusters/mycluster`.\nFields marked `OutputOnly` must be left blank.\nCurrently, at most two clusters can be specified.",
                        "type": "object"
                    },
                    "instance": {
                        "description": "The instance to create.\nFields marked `OutputOnly` must be left blank.",
                        "properties": {
                            "displayName": {
                                "description": "The descriptive name for this instance as it appears in UIs.\nCan be changed at any time, but should be kept globally unique\nto avoid confusion.",
                                "type": "string"
                            },
                            "labels": {
                                "additionalProperties": {
                                    "type": "string"
                                },
                                "description": "Labels are a flexible and lightweight mechanism for organizing cloud\nresources into groups that reflect a customer's organizational needs and\ndeployment strategies. They can be used to filter resources and aggregate\nmetrics.\n\n* Label keys must be between 1 and 63 characters long and must conform to\n  the regular expression: `\\p{Ll}\\p{Lo}{0,62}`.\n* Label values must be between 0 and 63 characters long and must conform to\n  the regular expression: `[\\p{Ll}\\p{Lo}\\p{N}_-]{0,63}`.\n* No more than 64 labels can be associated with a given resource.\n* Keys and values must both be under 128 bytes.",
                                "type": "object"
                            },
                            "name": {
                                "description": "(`OutputOnly`)\nThe unique name of the instance. Values are of the form\n`projects/<project>/instances/a-z+[a-z0-9]`.",
                                "type": "string"
                            },
                            "state": {
                                "description": "(`OutputOnly`)\nThe current state of the instance.",
                                "enum": [
                                    "STATE_NOT_KNOWN",
                                    "READY",
                                    "CREATING"
                                ],
                                "type": "string"
                            },
                            "type": {
                                "description": "The type of the instance. Defaults to `PRODUCTION`.",
                                "enum": [
                                    "TYPE_UNSPECIFIED",
                                    "PRODUCTION",
                                    "DEVELOPMENT"
                                ],
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "instanceId": {
                        "description": "The ID to be used when referring to the new instance within its project,\ne.g., just `myinstance` rather than\n`projects/myproject/instances/myinstance`.",
                        "type": "string"
                    },
                    "parent": {
                        "description": "The unique name of the project in which to create the new instance.\nValues are of the form `projects/<project>`.",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "Instance": {
                "description": "A collection of Bigtable Tables and\nthe resources that serve them.\nAll tables in an instance are served from all\nClusters in the instance.",
                "properties": {
                    "displayName": {
                        "description": "The descriptive name for this instance as it appears in UIs.\nCan be changed at any time, but should be kept globally unique\nto avoid confusion.",
                        "type": "string"
                    },
                    "labels": {
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Labels are a flexible and lightweight mechanism for organizing cloud\nresources into groups that reflect a customer's organizational needs and\ndeployment strategies. They can be used to filter resources and aggregate\nmetrics.\n\n* Label keys must be between 1 and 63 characters long and must conform to\n  the regular expression: `\\p{Ll}\\p{Lo}{0,62}`.\n* Label values must be between 0 and 63 characters long and must conform to\n  the regular expression: `[\\p{Ll}\\p{Lo}\\p{N}_-]{0,63}`.\n* No more than 64 labels can be associated with a given resource.\n* Keys and values must both be under 128 bytes.",
                        "type": "object"
                    },
                    "name": {
                        "description": "(`OutputOnly`)\nThe unique name of the instance. Values are of the form\n`projects/<project>/instances/a-z+[a-z0-9]`.",
                        "type": "string"
                    },
                    "state": {
                        "description": "(`OutputOnly`)\nThe current state of the instance.",
                        "enum": [
                            "STATE_NOT_KNOWN",
                            "READY",
                            "CREATING"
                        ],
                        "type": "string"
                    },
                    "type": {
                        "description": "The type of the instance. Defaults to `PRODUCTION`.",
                        "enum": [
                            "TYPE_UNSPECIFIED",
                            "PRODUCTION",
                            "DEVELOPMENT"
                        ],
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "ListLocationsResponse": {
                "description": "The response message for Locations.ListLocations.",
                "properties": {
                    "locations": {
                        "description": "A list of locations that matches the specified filter in the request.",
                        "items": {
                            "description": "A resource that represents Google Cloud Platform location.",
                            "properties": {
                                "displayName": {
                                    "description": "The friendly name for this location, typically a nearby city name.\nFor example, \"Tokyo\".",
                                    "type": "string"
                                },
                                "labels": {
                                    "additionalProperties": {
                                        "type": "string"
                                    },
                                    "description": "Cross-service attributes for the location. For example\n\n    {\"cloud.googleapis.com/region\": \"us-east1\"}",
                                    "type": "object"
                                },
                                "locationId": {
                                    "description": "The canonical id for this location. For example: `\"us-east1\"`.",
                                    "type": "string"
                                },
                                "metadata": {
                                    "additionalProperties": {
                                        "description": "Properties of the object. Contains field @type with type URL."
                                    },
                                    "description": "Service-specific metadata. For example the available capacity at the given\nlocation.",
                                    "type": "object"
                                },
                                "name": {
                                    "description": "Resource name for the location, which may vary between implementations.\nFor example: `\"projects/example-project/locations/us-east1\"`",
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    },
                    "nextPageToken": {
                        "description": "The standard List next-page token.",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "Location": {
                "description": "A resource that represents Google Cloud Platform location.",
                "properties": {
                    "displayName": {
                        "description": "The friendly name for this location, typically a nearby city name.\nFor example, \"Tokyo\".",
                        "type": "string"
                    },
                    "labels": {
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Cross-service attributes for the location. For example\n\n    {\"cloud.googleapis.com/region\": \"us-east1\"}",
                        "type": "object"
                    },
                    "locationId": {
                        "description": "The canonical id for this location. For example: `\"us-east1\"`.",
                        "type": "string"
                    },
                    "metadata": {
                        "additionalProperties": {
                            "description": "Properties of the object. Contains field @type with type URL."
                        },
                        "description": "Service-specific metadata. For example the available capacity at the given\nlocation.",
                        "type": "object"
                    },
                    "name": {
                        "description": "Resource name for the location, which may vary between implementations.\nFor example: `\"projects/example-project/locations/us-east1\"`",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "PartialUpdateInstanceRequest": {
                "description": "Request message for BigtableInstanceAdmin.PartialUpdateInstance.",
                "properties": {
                    "instance": {
                        "description": "The Instance which will (partially) replace the current value.",
                        "properties": {
                            "displayName": {
                                "description": "The descriptive name for this instance as it appears in UIs.\nCan be changed at any time, but should be kept globally unique\nto avoid confusion.",
                                "type": "string"
                            },
                            "labels": {
                                "additionalProperties": {
                                    "type": "string"
                                },
                                "description": "Labels are a flexible and lightweight mechanism for organizing cloud\nresources into groups that reflect a customer's organizational needs and\ndeployment strategies. They can be used to filter resources and aggregate\nmetrics.\n\n* Label keys must be between 1 and 63 characters long and must conform to\n  the regular expression: `\\p{Ll}\\p{Lo}{0,62}`.\n* Label values must be between 0 and 63 characters long and must conform to\n  the regular expression: `[\\p{Ll}\\p{Lo}\\p{N}_-]{0,63}`.\n* No more than 64 labels can be associated with a given resource.\n* Keys and values must both be under 128 bytes.",
                                "type": "object"
                            },
                            "name": {
                                "description": "(`OutputOnly`)\nThe unique name of the instance. Values are of the form\n`projects/<project>/instances/a-z+[a-z0-9]`.",
                                "type": "string"
                            },
                            "state": {
                                "description": "(`OutputOnly`)\nThe current state of the instance.",
                                "enum": [
                                    "STATE_NOT_KNOWN",
                                    "READY",
                                    "CREATING"
                                ],
                                "type": "string"
                            },
                            "type": {
                                "description": "The type of the instance. Defaults to `PRODUCTION`.",
                                "enum": [
                                    "TYPE_UNSPECIFIED",
                                    "PRODUCTION",
                                    "DEVELOPMENT"
                                ],
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "updateMask": {
                        "description": "The subset of Instance fields which should be replaced.\nMust be explicitly set.",
                        "format": "google-fieldmask",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "TableProgress": {
                "description": "Progress info for copying a table's data to the new cluster.",
                "properties": {
                    "estimatedCopiedBytes": {
                        "description": "Estimate of the number of bytes copied so far for this table.\nThis will eventually reach 'estimated_size_bytes' unless the table copy\nis CANCELLED.",
                        "format": "int64",
                        "type": "string"
                    },
                    "estimatedSizeBytes": {
                        "description": "Estimate of the size of the table to be copied.",
                        "format": "int64",
                        "type": "string"
                    },
                    "state": {
                        "enum": [
                            "STATE_UNSPECIFIED",
                            "PENDING",
                            "COPYING",
                            "COMPLETED",
                            "CANCELLED"
                        ],
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "UpdateAppProfileMetadata": {
                "description": "The metadata for the Operation returned by UpdateAppProfile.",
                "properties": {},
                "type": "object"
            },
            "UpdateClusterMetadata": {
                "description": "The metadata for the Operation returned by UpdateCluster.",
                "properties": {
                    "finishTime": {
                        "description": "The time at which the operation failed or was completed successfully.",
                        "format": "google-datetime",
                        "type": "string"
                    },
                    "originalRequest": {
                        "description": "The request that prompted the initiation of this UpdateCluster operation.",
                        "properties": {
                            "defaultStorageType": {
                                "description": "(`CreationOnly`)\nThe type of storage used by this cluster to serve its\nparent instance's tables, unless explicitly overridden.",
                                "enum": [
                                    "STORAGE_TYPE_UNSPECIFIED",
                                    "SSD",
                                    "HDD"
                                ],
                                "type": "string"
                            },
                            "location": {
                                "description": "(`CreationOnly`)\nThe location where this cluster's nodes and storage reside. For best\nperformance, clients should be located as close as possible to this\ncluster. Currently only zones are supported, so values should be of the\nform `projects/<project>/locations/<zone>`.",
                                "type": "string"
                            },
                            "name": {
                                "description": "(`OutputOnly`)\nThe unique name of the cluster. Values are of the form\n`projects/<project>/instances/<instance>/clusters/a-z*`.",
                                "type": "string"
                            },
                            "serveNodes": {
                                "description": "The number of nodes allocated to this cluster. More nodes enable higher\nthroughput and more consistent performance.",
                                "format": "int32",
                                "type": "integer"
                            },
                            "state": {
                                "description": "(`OutputOnly`)\nThe current state of the cluster.",
                                "enum": [
                                    "STATE_NOT_KNOWN",
                                    "READY",
                                    "CREATING",
                                    "RESIZING",
                                    "DISABLED"
                                ],
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "requestTime": {
                        "description": "The time at which the original request was received.",
                        "format": "google-datetime",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "UpdateInstanceMetadata": {
                "description": "The metadata for the Operation returned by UpdateInstance.",
                "properties": {
                    "finishTime": {
                        "description": "The time at which the operation failed or was completed successfully.",
                        "format": "google-datetime",
                        "type": "string"
                    },
                    "originalRequest": {
                        "description": "The request that prompted the initiation of this UpdateInstance operation.",
                        "properties": {
                            "instance": {
                                "description": "The Instance which will (partially) replace the current value.",
                                "properties": {
                                    "displayName": {
                                        "description": "The descriptive name for this instance as it appears in UIs.\nCan be changed at any time, but should be kept globally unique\nto avoid confusion.",
                                        "type": "string"
                                    },
                                    "labels": {
                                        "additionalProperties": {
                                            "type": "string"
                                        },
                                        "description": "Labels are a flexible and lightweight mechanism for organizing cloud\nresources into groups that reflect a customer's organizational needs and\ndeployment strategies. They can be used to filter resources and aggregate\nmetrics.\n\n* Label keys must be between 1 and 63 characters long and must conform to\n  the regular expression: `\\p{Ll}\\p{Lo}{0,62}`.\n* Label values must be between 0 and 63 characters long and must conform to\n  the regular expression: `[\\p{Ll}\\p{Lo}\\p{N}_-]{0,63}`.\n* No more than 64 labels can be associated with a given resource.\n* Keys and values must both be under 128 bytes.",
                                        "type": "object"
                                    },
                                    "name": {
                                        "description": "(`OutputOnly`)\nThe unique name of the instance. Values are of the form\n`projects/<project>/instances/a-z+[a-z0-9]`.",
                                        "type": "string"
                                    },
                                    "state": {
                                        "description": "(`OutputOnly`)\nThe current state of the instance.",
                                        "enum": [
                                            "STATE_NOT_KNOWN",
                                            "READY",
                                            "CREATING"
                                        ],
                                        "type": "string"
                                    },
                                    "type": {
                                        "description": "The type of the instance. Defaults to `PRODUCTION`.",
                                        "enum": [
                                            "TYPE_UNSPECIFIED",
                                            "PRODUCTION",
                                            "DEVELOPMENT"
                                        ],
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "updateMask": {
                                "description": "The subset of Instance fields which should be replaced.\nMust be explicitly set.",
                                "format": "google-fieldmask",
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "requestTime": {
                        "description": "The time at which the original request was received.",
                        "format": "google-datetime",
                        "type": "string"
                    }
                },
                "type": "object"
            }
        },
        "parameters": {
            "access_token": {
                "description": "OAuth access token.",
                "in": "query",
                "name": "access_token",
                "schema": {
                    "type": "string"
                }
            },
            "alt": {
                "description": "Data format for response.",
                "in": "query",
                "name": "alt",
                "schema": {
                    "type": "string",
                    "enum": [
                        "json",
                        "media",
                        "proto"
                    ],
                    "default": "json"
                }
            },
            "callback": {
                "description": "JSONP",
                "in": "query",
                "name": "callback",
                "schema": {
                    "type": "string"
                }
            },
            "fields": {
                "description": "Selector specifying which fields to include in a partial response.",
                "in": "query",
                "name": "fields",
                "schema": {
                    "type": "string"
                }
            },
            "key": {
                "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
                "in": "query",
                "name": "key",
                "schema": {
                    "type": "string"
                }
            },
            "oauth_token": {
                "description": "OAuth 2.0 token for the current user.",
                "in": "query",
                "name": "oauth_token",
                "schema": {
                    "type": "string"
                }
            },
            "prettyPrint": {
                "description": "Returns response with indentations and line breaks.",
                "in": "query",
                "name": "prettyPrint",
                "schema": {
                    "type": "boolean",
                    "default": true
                }
            },
            "quotaUser": {
                "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
                "in": "query",
                "name": "quotaUser",
                "schema": {
                    "type": "string"
                }
            },
            "uploadType": {
                "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
                "in": "query",
                "name": "uploadType",
                "schema": {
                    "type": "string"
                }
            },
            "upload_protocol": {
                "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
                "in": "query",
                "name": "upload_protocol",
                "schema": {
                    "type": "string"
                }
            },
            "_.xgafv": {
                "description": "V1 error format.",
                "in": "query",
                "name": "$.xgafv",
                "schema": {
                    "type": "string",
                    "enum": [
                        "1",
                        "2"
                    ]
                }
            }
        }
    }
}